.secao-skills {
    margin-bottom: 100px;
}

.secao-skills h2 {
    font-size: 24px;
    text-align: center;
    margin: 30px 0;
}

.secao-skills h4 {
    color: #6932f5;
    margin-bottom: 15px;
    text-align: center;
}

.secao-card-skills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.card-skills {
    width: 300px;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: #262626;
}

.descricao-skills {
    background-color: #262626;
    
}

.skills-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: inherit;
}

.skills {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: inherit;
}

.skill-name {
    background-color: inherit;
}

.img-descricao {
    background-color: #262626;
}

.titulo-descricao {
    background-color: #262626;
    margin-bottom: 10px;
}

.descricao-skills img {
    width: 70px;
    margin-bottom: 6px;
}

@media screen and (max-width: 960px) {
    .secao-card-skills {
        flex-wrap: wrap;
    }  
}

